/* ----- BASIC SETUP ----- */
* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Courier';
}

html,
body {
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}