<p>
   GROUP-CHAT 
</p>

<!-- <input type="button" (click)="getData()" value="get"> -->
<!-- <input type="button" (click)="setData()" value="post"> -->


<!-- <button (click)="authenticate()">Authenticate</button> -->
<div class="header"></div>
<div class="nav">
  <input type="text" placeholder="Search channel" [(ngModel)]="channel"><span (click)="findChannel()">&emsp;find</span>
  <!-- <p>{{foundChannel}}</p><span (click)="joinChannel()">Join</span><br/> -->
  <input type="text" placeholder="Your Channel Name" [(ngModel)]="newChannel"> <span (click)="createChannel()">&emsp;+</span>
 <!--  <p><u>Your channels</u></p>

  <p (click)="addRole()">Add Role</p>
 -->
</div>

<div class="right">
    <div class="chat">
    <ul *ngFor="let msg of allMsg">
      <li>{{msg}}</li>
    </ul>

  </div>
  <div class="message">
      <div class="messageField">
        <div class="msgSend">
        <input id="msgbox" type="text" [(ngModel)]="myMsg">
        <button (click)="sendMsg()">send</button>
      </div>
    </div>  
  </div>
</div>

